<div class="ui fluid raised card chatbox invisible_if_mobile">
  <div class="content">
    <div class="ui inverted vertical menu">
      <a class="active disabled item">
        Feature to come...
      </a>
      <a class="active disabled item">
        ...
      </a>
      <a class="active disabled item">
        ...
      </a>
    </div>
  </div>
</div>