<div class="ui fluid raised card chatbox">
  <div class="content">
    <div class="ui small feed">
      <%= render @messages %>
    </div>
  </div>
</div>

<!-- message send box area -->
<div class="extra content">
  <form class="ui reply form">
    <div class="field">
      <div class="ui fluid icon input">
        <input type="text" placeholder="Enter a message...">
        <i class="bordered inverted orange edit icon"></i>
      </div>
    </div>
  </form>
</div>