<div class="ui fluid raised card chatbox">
  <div class="content">
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
            <em>Christian Rocha</em>: Test message
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
            <em>Christian Rocha</em>: Test message
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
            <em>Christian Rocha</em>: Test message
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
            <em>Christian Rocha</em>: Test message
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- message send box area -->
<div class="extra content">
  <form class="ui reply form">
    <div class="field">
      <div class="ui fluid icon input">
        <input type="text" placeholder="Enter a message...">
        <i class="bordered inverted orange edit icon"></i>
      </div>
    </div>
  </form>
</div>