<div class="ui fluid raised card chatbox">
  <div class="content">
    <div class="ui small feed" id ="message-container-custom">
      <%= render @messages %>
    </div>
  </div>
</div>

<!-- message send box area 
<div class="extra content">
  <form class="ui reply form">
    <div class="field">
      <div class="ui fluid icon input">
        <input type="text" placeholder="Enter a message...">
        <i class="bordered inverted orange edit icon"></i>
      </div>
    </div>
  </form>
</div>-->

<div class="extra content">
  <%= form_for(@message, html: {class: 'ui reply form', role: 'form'}, url: message_path, remote: true) do |f| %>
    <div class="field">
      <div class="ui fluid icon input">
        <%= f.text_field :body , placeholder:"Enter a message..."%>
        <my_tag id="message_submit_btn" class="container">
          <i class="bordered inverted orange edit icon" style="font-size: 1.3em;
            border-radius: 0 0 0 50px;
            border-radius: 0 10px 10px 0;">
          </i>
        </my_tag>
        <%= f.button 'send', style:'display:none', id:"real_message_submit"%>
      </div>
    </div>
  <% end %>
</div>