@import "semantic-ui";
*{
  color: #FFF !important;
}
html,body{
  background-color: #222;
}
i.circular.coffee.icon{
  box-shadow: 0em 0em 0em 0.1em #ff5e00a1 inset;
}
i.orange.icon{
  box-shadow: 0em 0em 0em 0.1em #ff5e00a1 inset;
}
// chat window
.ui.cards > .card > .content, .ui.card > .content {
  background-color: #222;
}
// chat window user name
.event .content .summary em{
  color: #ff5e00e5 !important;
  font-size: 1.3em !important;
}
//chat send message area
.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="file"], .ui.form input[type="url"]{
  background-color: #111 !important;
  color: #ff5e00e5 !important;
}
.ui.placeholder.segment{
  background-color: #333 !important;
}
.chatbox{
  height: 450px;
}
.your_message{
  text-shadow: 0 0 0em #ff5e00;

	
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
    text-shadow: 0 0 0em #ff5e0000;
	}

	70% {
    text-shadow: 0 0 0.8em #ff5e00;
	}

	100% {
    text-shadow: 0 0 0em #ff5e0000;
	}
}
.custom_icon_success{
  color: #5eff00 !important;
}
.custom_icon_error{
  color: #ff0000 !important;
}